*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: VictorMono;
    src: url("Fonts/VictorMono-VariableFont_wght.ttf"), 
}

@font-face {
    font-family: VictorMono italic;
    src: url("Fonts/VictorMono-Italic-VariableFont_wght.ttf");
}

:root{
    --background-color: #121212;
    --border-color: #494949;
    --main-text-color:#FFF;
    --highlighted-text-color: #000;
    --secondary-text-color: #aaa;
    --brand-color: #f1ff5b;
}

body{
    background-color: var(--background-color);
    background-image: url(/src/Images/navy.png);
    color:var(--main-text-color);
    height: 100vh;
    display:flex;
    flex-direction: column;

    font-family: VictorMono;
    
}

header{
    padding:16px;
    border-bottom: 2px solid var(--border-color);

    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.theme-btn{
    border-style:none;
    border: 2px solid var(--border-color);
    border-radius: 8px;
    width:40px;
    height: 40px;
    padding: 8px;
    font-size: 18px;
    background-color: var(--background-color);
    color: var(--main-text-color);
    align-self: center;
    vertical-align: text-bottom;
    cursor: hover;
    
    transition: 0.2s ease all;
}

.theme-btn:hover{
    color:var(--highlighted-text-color);
    border-color: var(--brand-color);
    background-color: var(--brand-color);
    transform: scale(110%);
}

.page-title{
    font-size: 36px;
    font-weight: 900;
}

main{
    flex: 1;

    display:grid;
    grid-template-columns: minmax(260px, 1fr) 4fr;
    
}


.sidebar, .project-content{
    padding:24px;
}

.new-project-btn{
    border-radius: 8px;
    width: 90%;
    
    padding:12px;
    margin-bottom: 24px;
    font-size:18px;
    border-style: none;
    align-self: center;
    letter-spacing: 0.05rem;
    transition: 0.2s ease all;
}

.new-project-btn:hover{
    background-color: var(--brand-color);
    transform: scale(105%);
}

i{
    vertical-align: middle;
}

.sidebar i{
    font-size: 1.5rem;
    
}

.sidebar h2{
    font-size: 18px;
    letter-spacing: 0.2em;
}

.sidebar ul{
    list-style: none;
    margin-left: 24px;
    padding: 0;
}

.sidebar li{
    margin:24px 0 24px 0;
    font-family: VictorMono;
    font-style: italic;
    font-size: 14px;
    color: var(--secondary-text-color);
    cursor: pointer;
    transition: 0.2s ease all;
}

.sidebar li:hover{
    margin-left: 12px;
    color: var(--brand-color);
}



.sidebar li>i{
    font-size: 18px;
    padding-right: 8px;
}

.project-list-item{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.project-delete-btn{
    color:var(--brand-color);
    background-color: var(--background-color);
    border-style: none;
    width: 20px;
    height: 20px;
    transition: 0.2s ease all;
    transform: scale(105%);
    display:none;
}

.project-delete-btn:hover{
    color: var(--highlighted-text-color);
    background-color: var(--brand-color);
    border-style: none;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    cursor: pointer;
}

.sidebar li:hover > .project-delete-btn{
    display:block;
}

.selected-project{
    background-color: var(--brand-color);
    color: var(--highlighted-text-color);
    padding:4px;
    border-radius: 4px;
}

.selected-project > .project-list-title{
    color:var(--highlighted-text-color);
}
.selected-project > .project-delete-btn{
    color: var(--highlighted-text-color);
    background-color: var(--brand-color);
}
.selected-project > .project-delete-btn:hover{
    color: var(--brand-color);
    background-color: var(--highlighted-text-color);
    
}

.project-content{
   border-left: 2px solid var(--border-color);
   padding:48px;
}

.project-display-title{
    padding-bottom: 12px;
    padding-left: 24px;
    border-bottom: 2px dotted var(--border-color);
}

.project-date{
    padding-top:3px;
    font-size: 0.8em;
    color:var(--secondary-text-color);

}


/* dialog{
    margin:auto;
    inset: 0;
    border: 2px solid var(--border-color);
    border-radius: 12px;
    padding:0;
    background-color: var(--background-color);
    color: white;
    width: 400px;
    
}

dialog::backdrop{
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
}

.dialog-content{
    padding:2rem;
}

.dialog-title{
    justify-self: center;
    margin-bottom: 1.5rem;
    display: block;
}

.dialog-actions{
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap:36px;
    
}

.form-group{
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.add-project-input{
    display:block;
    width: 100%;

} */