*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: VictorMono;
}

@font-face {
    font-family: VictorMono;
    src: url("Fonts/VictorMono-VariableFont_wght.ttf"), 
}

@font-face {
    font-family: VictorMono italic;
    src: url("Fonts/VictorMono-Italic-VariableFont_wght.ttf");
}

:root{
    --background-color: #121212;
    --border-color: #494949;
    --main-text-color:#FFF;
    --highlighted-text-color: #000;
    --secondary-text-color: #c4c4c4;
    --brand-color: #f1ff5b;
    
}

body{
    background-color: var(--background-color);
    background-image: url(/src/Images/navy.png);
    color:var(--main-text-color);
    height: 100vh;
    display:flex;
    flex-direction: column;

    font-family: VictorMono;
    
}

header{
    padding:16px;
    border-bottom: 2px solid var(--border-color);

    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.theme-btn{
    border-style:none;
    border: 2px solid var(--border-color);
    border-radius: 8px;
    width:40px;
    height: 40px;
    padding: 8px;
    font-size: 18px;
    background-color: var(--background-color);
    color: var(--main-text-color);
    align-self: center;
    vertical-align: text-bottom;
    cursor: hover;
    font-family: none;
    
    transition: 0.2s ease all;
}

.theme-btn:hover{
    color:var(--highlighted-text-color);
    border-color: var(--brand-color);
    background-color: var(--brand-color);
    transform: scale(110%);
    font-family: none;
}

.page-title{
    font-size: 36px;
    font-weight: 900;
}

main{
    flex: 1;

    display:grid;
    grid-template-columns: minmax(260px, 1fr) 4fr;
    
}


.sidebar, .project-content{
    padding:24px;
}

.new-project-btn{
    border-radius: 8px;
    width: 90%;
    
    padding:12px;
    margin-bottom: 24px;
    font-size:18px;
    font-weight: bold;
    border-style: none;
    align-self: center;
    letter-spacing: 0.05rem;
    transition: 0.2s ease all;
}

.new-project-btn:hover{
    background-color: var(--brand-color);
    transform: scale(105%);
}

i{
    vertical-align: middle;
}

.sidebar i{
    font-size: 1.5rem;
    
}

.sidebar h2{
    font-size: 18px;
    letter-spacing: 0.2em;
}

.sidebar ul{
    list-style: none;
    margin-left: 24px;
    padding: 0;
}

.sidebar li{
    margin:24px 0 24px 0;
    font-family: VictorMono;
    font-style: italic;
    font-size: 14px;
    color: var(--secondary-text-color);
    cursor: pointer;
    transition: 0.2s ease all;
}

.sidebar li:hover{
    margin-left: 12px;
    color: var(--brand-color);
}



.sidebar li>i{
    font-size: 18px;
    padding-right: 8px;
}

.project-list-item{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.project-delete-btn{
    color:var(--brand-color);
    background-color: var(--background-color);
    border-style: none;
    width: 20px;
    height: 20px;
    transition: 0.2s ease all;
    transform: scale(105%);
    display:none;
}

.project-delete-btn:hover{
    color: var(--highlighted-text-color);
    background-color: var(--brand-color);
    border-style: none;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    cursor: pointer;
}

.sidebar li:hover > .project-delete-btn{
    display:block;
}

.selected-project{
    background-color: var(--brand-color);
    color: var(--highlighted-text-color);
    padding:4px;
    border-radius: 4px;
}

.selected-project > .project-list-title{
    color:var(--highlighted-text-color);
}
.selected-project > .project-delete-btn{
    color: var(--highlighted-text-color);
    background-color: var(--brand-color);
}
.selected-project > .project-delete-btn:hover{
    color: var(--brand-color);
    background-color: var(--highlighted-text-color);
    
}

.project-content{
   border-left: 2px solid var(--border-color);
   padding:48px;
}



.project-display-title{
    padding-bottom: 12px;
    padding-left: 24px;
    border-bottom: 2px dotted var(--border-color);
}

.project-date, .todo-creation-date{
    padding-top:3px;
    font-size: 0.8em;
    color:var(--secondary-text-color);

}

.project-details{
    padding:48px 56px 0 56px;
}

.new-todo-section{
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 8px;
}

.new-todo-btn{
    border-style: none;
    background-color: var(--main-text-color);
    color: var(--highlighted-text-color);
    font-size: 1.5rem;
    font-family: VictorMono;
    font-weight: bold;

    border-radius: 8px;
    width: 100%;
    
    padding:8px;
    align-self: center;
    letter-spacing: 0.05rem;
    transition: 0.2s ease all;
}

.new-todo-btn:hover{
    background-color: var(--brand-color);
    transform: scale(105%);
}

.dropdown-btn{
    border-style:none;
    border: none;
    border-radius: 8px;
    width:40px;
    height: 40px;
    
    font-size: 2.5rem;
    background-color: transparent;
    color: var(--secondary-text-color);
    align-self: center;
    vertical-align: text-bottom;
    cursor: hover;
    font-family: none;
    display:Flex;
    justify-content: center;
    align-items: center;
    
    transition: 0.2s ease all;

}

.dropdown-btn:hover{
    transform: scale(130%);
}
.dropdown-btn:hover.dropdown-active{
    transform: scale(130%);
    transform: rotate(90deg);
}

.dropdown-active{
    transform: rotate(90deg);
}
.todo-item{
    display:flex;
    flex-direction: column;

    gap: 36px;
    border-bottom: 1px solid var(--border-color);
    padding-top: 48px;
    padding-bottom: 8px;
}

.todo-header{
    display:grid;
    grid-template-columns: 50px 50px 1fr;
    max-width: 100%;
    align-items: center;
}

.todo-extended-content{
    display: none;
    
}

.show{
    padding-left: 50px;
    display:grid;
    grid-template-columns: 3fr 1fr;
}


.completion-checkbox{
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-color: black;
    accent-color: var(--brand-color);
    color: var(--highlighted-text-color);
}



